.search-results {
  display: flex;
  justify-content: space-between;
  &__movies {

  }

  &__filters-list {
    display: flex;
    list-style: none;
  }

  &__filters-item {
    margin-left: 10px;
  }

  &__suggestions {
    display: none;
  }
}
